<ul>
  <li>Name: <%= kitten.name %></li>
  <li>Age: <%= kitten.age %></li>
  <li>Cuteness: <%= kitten.cuteness %></li>
  <li>Softness: <%= kitten.softness %></li>
</ul>
 <%= link_to "delete", kitten, method: :delete,
                                  data: { confirm: "You sure?" } %>